<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@{
    ViewBag.AppName = "Microsoft Graph Snippets Sample for ASP.NET 4.6";
    var accountType = Session["AccountType"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.6.2.js")

    <environment include="Development">
        @Styles.Render("~/Content/boostrap.css")
        @Styles.Render("~/Content/Site.css")
    </environment>
    <environment exclude="Development">
        @Styles.Render("~/Content/css")
        @Styles.Render("https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css")
    </environment>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar">
        <div class="container">
            @Html.ActionLink("Snippets sample", "Index", "Home", null, new { @class = "navbar-brand" })

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Users", "Index", "Users", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Mail", "Index", "Mail", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Events", "Index", "Events", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Files", "Index", "Files", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Groups", "Index", "Groups", null, new { @class = "nav-link" })</li>
                    @if (accountType != "msa")
                    {
                        <li class="nav-item">@Html.ActionLink("Admin scopes", "Index", "Admin", null, new { @class = "nav-link" })</li>
                    }
                    <li class="nav-item">@Html.ActionLink("Extensions", "Index", "Extensions", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewBag.AppName</p>
        </footer>
    </div>

    <environment include="Development">
        @Scripts.Render("~/Scripts/ui-helpers.js")
        @Scripts.Render("~/Scripts/jquery-{version}.js");
        @Scripts.Render("~/Scripts/bootstrap.js");
        @Scripts.Render("~/Scripts/popper.js");
    </environment>
    <environment exclude="Development">
        @Scripts.Render("https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js");
        @Scripts.Render("https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.bundle.min.js");
    </environment>

    @Scripts.Render("~/Scripts/ui-helpers.js")
    @RenderSection("scripts", required: false)
</body>
</html>