<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources;

@model Microsoft_Graph_ASPNET_Snippets.Models.ResultsViewModel

@{
    ViewBag.Title = string.Format(Resource.Snippets, Resource.User);
    var accountType = Session["AccountType"] as string;
}

<div class="split">
    <h2>@ViewBag.Title</h2>
    <span class="caveats">@Resource.No_MSA<br />@Resource.Admin_Only</span>
</div>
<div class="col-sm-12">
    <h3>@Resource.Choose_Snippet</h3>
    <div class="form-group">
        @using (Html.BeginForm("GetUsers", "Users"))
        {
            <button class="btn btn-link" id="get-users">@Resource.User_GetUsers</button>
        }
        @using (Html.BeginForm("GetMe", "Users"))
        {
            <button class="btn btn-link" id="get-me">@Resource.User_GetMe</button>
        }
        @using (Html.BeginForm("GetMyManager", "Users"))
        {
            <button class="btn btn-link" id="get-my-manager" @if (accountType == "msa") { @("disabled") }>@Resource.User_GetMyManager</button>
        }
        @using (Html.BeginForm("GetMyPhoto", "Users"))
        {
            <button class="btn btn-link" id="get-my-photo" @if (accountType == "msa") { @("disabled") }>@Resource.User_GetMyPhoto</button>
        }
        @using (Html.BeginForm("CreateUser", "Users"))
        {
            <button class="btn btn-link" id="create-user" @if (accountType == "msa") { @("disabled") }>@Resource.User_CreateUser</button>
        }
    </div>
    <p>@Resource.Needs_Id</p>
    <div class="form-group">
        @using (Html.BeginForm("GetUser", "Users"))
        {
            <button class="btn btn-link needs-id" id="get-user" disabled>@Resource.User_GetUser</button>
            <input class="selected-id" name="id" type="hidden" />
        }
        @using (Html.BeginForm("GetUserPhoto", "Users"))
        {
            <button class="btn btn-link needs-id" id="get-user-photo" disabled @if (accountType == "msa") { @("name=not-supported") }>@Resource.User_GetUserPhoto</button>
            <input class="selected-id" name="id" type="hidden" />
        }
        @using (Html.BeginForm("GetDirectReports", "Users"))
        {
            <button class="btn btn-link needs-id" id="get-directs" disabled @if (accountType == "msa") { @("name=not-supported") }>@Resource.User_GetDirectReports</button>
            <input class="selected-id" name="id" type="hidden" />
        }
        @using (Html.BeginForm("UpdateUser", "Users"))
        {
            <button class="btn btn-link needs-id" id="update-user" disabled @if (accountType == "msa") { @("name=not-supported") }>@Resource.User_UpdateUser</button>
            <input class="selected-id" name="id" type="hidden" />
            <input class="selected-name" name="name" type="hidden" />
        }
        @using (Html.BeginForm("DeleteUser", "Users"))
        {
            <button class="btn btn-link needs-id" id="delete-user" disabled @if (accountType == "msa") { @("name=not-supported") }>@Resource.User_DeleteUser</button>
            <span class="alert-danger">@Html.Raw(Resource.Delete_Warning)</span>
            <input class="selected-id" name="id" type="hidden" />
        }
    </div>
</div>
@Html.Partial("_ResultsPartial")


