<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources;

@model Microsoft_Graph_ASPNET_Snippets.Models.ResultsViewModel

@{
    ViewBag.Title = string.Format(Resource.Snippets, Resource.Mail);
}

<h2>@ViewBag.Title</h2>
<div class="col-md-12">
    <h3>@Resource.Choose_Snippet</h3>
    <div class="form-group">
        @using (Html.BeginForm("GetMyMessages", "Mail"))
        {
            <button class="btn btn-link" id="get-messages">@Resource.Mail_GetMyMessages</button>
        }
        @using (Html.BeginForm("GetMyInboxMessages", "Mail"))
        {
            <button class="btn btn-link" id="get-inbox-messages">@Resource.Mail_GetMyInboxMessages</button>
        }
        @using (Html.BeginForm("SendMessage", "Mail"))
        {
            <button class="btn btn-link" id="send-mail">@Resource.Mail_SendMessage</button>
        }
    </div>
    <p>@Resource.Needs_Id</p>
    <div class="form-group">
        @using (Html.BeginForm("GetMessage", "Mail"))
        {
            <button class="btn btn-link needs-id" id="get-message" disabled="disabled">@Resource.Mail_GetMessage</button>
            <input class="selected-id" name="id" type="hidden" />
        }
        @using (Html.BeginForm("DeleteMessage", "Mail"))
        {
            <button class="btn btn-link needs-id" id="delete-message" disabled="disabled">@Resource.Mail_DeleteMessage</button>
            <span class="alert-warning">@Html.Raw(Resource.Delete_Warning)</span>
            <input class="selected-id" name="id" type="hidden" />
        }
    </div>
</div>
@Html.Partial("_ResultsPartial")
