<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources;

@model Microsoft_Graph_ASPNET_Snippets.Models.ResultsViewModel

@{
    ViewBag.Title = string.Format(Resource.Snippets, Resource.Group);
    var accountType = Session["AccountType"] as string;
}

<div class="split">
    <h2>@ViewBag.Title</h2>
    <span class="caveats">@Resource.No_MSA<br />@Resource.Admin_Only</span>
</div>
<div class="col-md-12">
    <h3>@Resource.Choose_Snippet</h3>
    <div class="form-group">
        @using (Html.BeginForm("GetGroups", "Groups"))
        {
            <button class="btn btn-link" id="get-groups" @if (accountType == "msa") { @("disabled") }>@Resource.Group_GetGroups</button>
        }
        @using (Html.BeginForm("GetUnifiedGroups", "Groups"))
        {
            <button class="btn btn-link" id="get-unified-groups" @if (accountType == "msa") { @("disabled")  }>@Resource.Group_GetUnifiedGroups</button>
        }
        @using (Html.BeginForm("GetMyMemberOfGroups", "Groups"))
        {
            <button class="btn btn-link" id="get-member-of" @if (accountType == "msa") { @("disabled") }>@Resource.Group_GetMyMemberOfGroups</button>
        }
        @using (Html.BeginForm("CreateGroup", "Groups"))
        {
            <button class="btn btn-link" id="create-group" @if (accountType == "msa") { @("disabled") }>@Resource.Group_CreateGroup</button>
        }
    </div>
    <p>@Resource.Needs_Id</p>
    <div class="form-group">
        @using (Html.BeginForm("GetGroup", "Groups"))
        {
            <button class="btn btn-link needs-id" id="get-group" disabled>@Resource.Group_GetGroup</button>
            <input class="selected-id" name="id" type="hidden" />
        }
        @using (Html.BeginForm("GetMembers", "Groups"))
        {
            <button class="btn btn-link needs-id" id="get-members" disabled>@Resource.Group_GetMembers</button>
            <input class="selected-id" name="id" type="hidden" />
        }
        @using (Html.BeginForm("GetOwners", "Groups"))
        {
            <button class="btn btn-link needs-id" id="get-owners" disabled>@Resource.Group_GetOwners</button>
            <input class="selected-id" name="id" type="hidden" />
        }
        @using (Html.BeginForm("UpdateGroup", "Groups"))
        {
            <button class="btn btn-link needs-id" id="update-group" disabled>@Resource.Group_UpdateGroup</button>
            <input class="selected-id" name="id" type="hidden" />
            <input class="selected-name" name="name" type="hidden" />
        }
        @using (Html.BeginForm("DeleteGroup", "Groups"))
        {
            <button class="btn btn-link needs-id" id="delete-group" disabled>@Resource.Group_DeleteGroup</button>
            <span class="alert-danger">@Html.Raw(Resource.Delete_Warning)</span>
            <input class="selected-id" name="id" type="hidden" />
        }
    </div>
</div>
@Html.Partial("_ResultsPartial")