<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources;

@{
  ViewBag.Title = Resource.App_Name;
}

<h2>@ViewBag.Title</h2>
<h3>Choose a snippet category:</h3>
<div class="col-md-offset-1">
    @Html.ActionLink("Users", "Index", "Users")<br />
    @Html.ActionLink("Mail", "Index", "Mail")<br />
    @Html.ActionLink("Events", "Index", "Events")<br />
    @Html.ActionLink("Files and folders", "Index", "Files")<br />
    @Html.ActionLink("Groups", "Index", "Groups")<br />
    @Html.ActionLink("Extensions", "Index", "Extensions")<br />
</div>